<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tab.com.handsome.handsome" >
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.handsome.qhb.application.MyApplication"
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.handsome.qhb.ui.activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.handsome.qhb.ui.activity.LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
        <activity android:name="com.handsome.qhb.ui.activity.RegisterActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.GwcActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.OrderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.handsome.qhb.ui.activity.AddressActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.AddressManagerActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.UpdateDataActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.OrderDetailActivity"></activity>
        <activity android:name="com.handsome.qhb.ui.activity.UpdatePasswordActivity"></activity>

    </application>

</manifest>